@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:
    /* Sostituiamo le luci con tonalità di verde */
    radial-gradient(ellipse 40% 50% at 80% 60%, rgba(26, 108, 171, 0.2), transparent),
    radial-gradient(ellipse 40% 50% at 20% 40%, rgba(12, 119, 83, 0.2), transparent);
  filter: blur(100px);
  z-index: -1;
  animation: gradient-move 20s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

